[Unit]
Description=Sensu service control supervisor

[Service]
ExecStart=/opt/sensu/embedded/bin/sensu-runsvdir
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
