[Unit]
Description=sensu api

[Service]
User=sensu
Group=sensu
ExecStart=/opt/sensu/bin/sensu-api -l /var/log/sensu/sensu-api.log
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
